body {
	background-color: #FFFFAA;
}

.root {
	background-color: #5566FF;
}

.rootc1 {
	background-color: #7788FF;
}

.rootc2 {
	background-color: #99AAFF;
}

.rootc3 {
	background-color: #BBCCFF;
}